* {
    margin: 0;
    box-sizing: border-box;
    padding: 0px;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

main {
    height: 100dvh;
    max-width: 100dvw;
}

body::-webkit-scrollbar{
    width: 0px;
}

main section {
    width: 100%;primary
    min-height: 100%;
    max-height: max-content;
}

main section.hero {
    background-image: url(https://images.unsplash.com/photo-1635070041078-e363dbe005cb?w=1920&q=80&fit=crop);
}

main section.hero div.background {
    max-width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, #000000a2, #000000);
}

main section.hero div.background div.content {
    width: 70%;
    margin: 200px auto 50px auto;
    text-align: center;
    background-image: radial-gradient(#00ced138,#00ced110,#00000009);
    box-shadow: 0px 0px 50px #00121333;
    outline-color: color-mix(in oklab, #00cfd1 50%, transparent);
    position: relative;
}
 

main section.hero div.background div.content h1 {
    font-size: 50pt;
    font-weight: 800;
    text-align: center;
}

main section.hero div.background div.content h1 span {
    color: transparent;
    background-image: linear-gradient(to right, #00eeff, #c9a7ff 40%, #00eeff);
    background-clip: text;
}

main section.hero div.background div.content small {
    display: block;
}

main section.hero div.background div.content p {
    margin: 30px auto;
    
}

main section.hero div.background div.content button {
    border: 0 solid #ffffff;
    padding:10px;
    margin: 20px 7px;
    width: 150px;
    font-size: 12pt;
    /* box-shadow: 0px 0px 10px #ffffff96; */
    border-radius: 4px;
    cursor: pointer;
}
 

main section.hero div.background div.content {}


.icon {
    width: 2rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.icon:hover svg {
    stroke: #00eeff; 
    transform: scale(1.2);
}

.rainbow {
    color: transparent;
    background-image: linear-gradient(to right, #00eeff, #c9a7ff 40%, #00eeff);
    background-clip: text;
}

#contacts {
    height: 100vh;
}

.link {
    display: flex;
    align-items: center;
    gap: .25rem;
    border: thin solid #272727;
    border-radius: .25rem;
    padding: .5rem;
    background-color: #0a0a0a;
}

.link:hover {
    background-color: #272727;
}

.card {
    width: 39rem;
    height: 12rem;
    box-shadow:#464646;
    border: thin solid #272727;
    background-color: #080808;
}

.gray {
    color: #979797;
}